    <a href="/posts/{{id}}" class="recent-posts" id="post-{{id}}">
        <article>
            <h2>{{title}}</h2>
            <div>
                <p>{{createdAt}}</p>
                <p>{{content}}</p>
            </div>
           
        </article>
    </a>
